$back_color_violet: #6725A8;
$back_color_gray: #F6F6FA;
$back_color_gray_second: #F0ECF4;
$back_color_white: #FFF;

$text_color: black;
$text_color_gray: #A0A0A4;
$text_color_white: white;
$text_color_warning: #FF3B30;
$text_color_good: #0CB477;

$accent_color_violet: #CB11AB;
$accent_color_orange: #F55123;